<h1 class="title"><%= @review.title %> </h1>
<p class='description'><%= @review.description %></p>


<footer>
  <a id="edit" class="links" href="/reviews/<%= @review.id %>/edit">Edit Review</a>

  <form id="delete" class="links" action='/reviews/<%= @review.id %>' method='POST'>
    <input type="hidden" name="_method" value='DELETE'>
    <input type="submit" value="Delete Review">
  </form>
</footer>

<form id="favorite-button" action='/reviews/<%= @review.id %>' method='POST'>
  <input type="hidden" name="_method" value="PUT">
  <input type="hidden" name="favorite" value="true">
  <input type="submit" value="+++">
</form>

